body {
  background-color: linen;
}
h1 {
  color: brown;
  font-family: britannic;
  font-size: 200%;
  text-align: left;
  margin: 10px;
}
h2 {
  color: brown;
  font-family: britannic;
  font-size: 200%;
  text-align: left;
  margin: 10px;
}
p {
  display: inline-block;
  border: 2px grey;
  padding: 10px;
  margin: 10px;
}
