body {
  background-color: powderblue;
}
h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
  border: 2px solid white;
  padding: 30px;
  margin: 10px;
  float: left;
}
p {
  color: red;
}
