body {
  background-color: linen;
}
h1 {
  color: brown;
  font-family: britannic;
  font-size: 200%;
  text-align: left;
  margin: 10px;
}
p {
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
}
